body{
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;

}

a{
  font-size: 30px;
}

h1{
  text-align: center;
}

.home{
  position: fixed;
  top: 95%;
  left: 49%;
}

canvas {
  width: 98%;
  float: right;
  border: 1px solid black;
}
