<!DOCTYPE html>
<html>
<head>
  <title>Data Plot</title>
  <script src="../data/initSpin1.js"></script>
  <script src="../data/initSpin2.js"></script>
  <script src="../data/initSpin3.js"></script>
  <script src="../data/initRunIndoor.js"></script>
  <script src="../data/initSwing.js"></script>
  <script src="../data/secAccelAndLeft.js"></script>
  <script src="../data/secAccelBrake.js"></script>
  <script src="../data/secCanyonDown.js"></script>
  <script src="../data/secCanyonUp.js"></script>
  <script src="../data/secFiveMileDown.js"></script>
  <script src="../data/secFiveMileUp.js"></script>
  <script src="../data/secToClass.js"></script>
  <script src="../data/dataResearchPark.js"></script>
  <script src="../data/dataStandDrive.js"></script>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen">
  <script src="../stylesheets/jquery-1.11.3.min.js"></script>
  <script src="../controllers/app.js"></script>
  <script src="../controllers/dataControls.js"></script>
</head>
<body>

  <h1 class="show-data">Hows My Driving</h1>
  <hr>

<div class='col-5'>
  <h4>
    Testing Zone:
    <button id='test-functions'>Test Functions</button>
    <button id='test-z'>Test Z Aixs</button>
    <button id='car-model'>Test Car Model</button>
    <button id='g-ball-test'>Test G Ball</button>
    <button id='g-ball-v-2'>gBallV2</button>
  </h4>
  <h4>
    Controlls:
    <button id='cartesian'>Cartesian Layout</button>
    <button id='freeze'>Freeze Data</button>
    <button id='reset'>RESET</button>
  </h4>
  <h4>
    Functions:
    <button id='accel-xy-2pts'>gBall Accel XY 2 Points</button>
    <button id='accel-xy-1pt'>gBall Accel XY 1 Point</button>
  </h4>
    <b><div id="text-div6"></div></b>
</div>

<div class='col-3'>
  <h3>
    <div id="text-div1"></div>
    <div id="text-div2"></div>
    <div id="text-div3"></div>
    <div id="text-div4"></div>
    <div id="text-div5"></div>
    <div id="text-div17"></div>
  </h3>
</div>

<div class='col-4'>
  <h3><div id="text-div14" class="center"></div></h3>
  <h5><div id="text-div15" class="center"></div></h5>
  <h3><div id="text-div16" class="center"></div></h3>
</div>

<div id='all-errors-div' class="space"></div>
<div class='col-12'></div>



<div class='col-2'>
  <hr>
  <b><div id="text-div-crash" class="space"></div></b>
  <div id="text-div-good-driver" class="space"></div>
  <div id="text-div-hard-left" class="space"></div>
  <div id="text-div-hard-right" class="space"></div>

  <div id="text-div9" class="space"></div>
  <div id="text-div21" class="space"></div>
  <div id="text-div10" class="space"></div>
  <div id="text-div22" class="space"></div>
  <div id="text-div-bump" class="space"></div>
  <div id="text-div-airborne" class="space"></div>
  <div id="text-div13" class="space"></div>
  <div id="text-div20" class="space"></div>
</div>

<div class='col-10'>
  <canvas id="canvas">
    <!-- <img src="../images/tach.png" id="canvas-pic"></img> -->
  </canvas>
</div>

<canvas id="canvas2">
</canvas>

  <div><a href="./index.html" class="home">Home</a></div>
</body>
