<!DOCTYPE html>
<html>
<head>
  <title>Data Plot</title>
  <script src="../data/initSpin1.js"></script>
  <script src="../data/initSpin2.js"></script>
  <script src="../data/initSpin3.js"></script>
  <script src="../data/initRunIndoor.js"></script>
  <script src="../data/initSwing.js"></script>
  <script src="../data/secAccelAndLeft.js"></script>
  <script src="../data/secAccelBrake.js"></script>
  <script src="../data/secCanyonDown.js"></script>
  <script src="../data/secCanyonUp.js"></script>
  <script src="../data/secFiveMileDown.js"></script>
  <script src="../data/secFiveMileUp.js"></script>
  <script src="../data/secToClass.js"></script>

  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen">
  <script src="../stylesheets/jquery-1.11.3.min.js"></script>
  <script src="../controllers/app.js"></script>
  <script src="../controllers/dataControls.js"></script>
</head>

<body>
  <h1 class="show-data">Click Buttons To Show Data</h1>

  <p>Testing Zone:
  <button id='test-functions'>Test Functions</button>
  <button id='test-z'>Test Z Aixs</button>
  </p>

  <p>Controlls:
  <button id='cartesian'>CARTESIAN LAYOUT</button>
  <button id='freeze'>Freeze Data</button>
  <button id='reset'>Reset</button>
  </p>

  <p>Functions:
  <button id='forceXTime'>forceXTime</button>
  <button id='forceYTime'>forceYTime</button>
  <button id='forceZTime'>forceZTime</button>
  <button id='forceXTimeRedline'>forceXTimeRedline</button>
  <button id='forceXy'>forceXy</button>
  <button id='forceXyTime'>forceXyTime</button>
  <button id='forceXTimeX'>forceXyTimeX</button>
  <button id='forceXyzTimeXyz'>forceXyzTimeXyz</button>
  <button id='forceXyzAdjustableTimeXyz'>forceXyzAdjustableTimeXyz</button>
  </p>

<div id="textDiv"></div>
<script type="text/javascript" id="textDiv">
    var div = document.getElementById("textDiv");
    div.textContent = "dataSpin3[15000][0]";
    var text = div.textContent;
</script>

<canvas id="canvas">
  <script>

  </script>
</canvas>

  <div><a href="./index.html" class="home">Home</a></div>
</body>
