<!DOCTYPE html>
<html>
<head>
  <title>Data Plot</title>
  <script src="../app.js"></script>
  <script src="../data/initSpin1.js"></script>
  <script src="../data/initSpin2.js"></script>
  <script src="../data/initSpin3.js"></script>
  <script src="../data/initRunIndoor.js"></script>
  <script src="../data/initSwing.js"></script>
  <script src="../data/secAccelAndLeft.js"></script>
  <script src="../data/secAccelBrake.js"></script>
  <script src="../data/secCanyonDown.js"></script>
  <script src="../data/secCanyonUp.js"></script>
  <script src="../data/secFiveMileDown.js"></script>
  <script src="../data/secFiveMileUp.js"></script>
  <script src="../data/secToClass.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

  <canvas id="canvas" width='15000px' height='8000px'>
  <script>
  $(document).ready(function() {

    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var int = 0;

    function forceXTimeX(data, start, stop, multiX, multiY, dropDataPoints) {
      for (var x=start, ii=0; x<stop; x=x + dropDataPoints, ii=ii+1) {
        setTimeout(function () {
          ctx.lineTo(int, (data[start][1]*multiX)+2000);
          ctx.stroke();
          ctx.lineWidth = 15;
          start += dropDataPoints;
          int += dropDataPoints;
        }, ii*data[ii][0]); //CRAZY HOW ii WORKS HERE, SHOULDNT(ii)
      }
    }
    // console.log(int);
    // function forceYTimeX(data, start, stop, multiX, multiY, dropDataPoints) {
    //   for (var y=start, ii=0; y<stop; y=y + dropDataPoints, ii=ii+1) {
    //     setTimeout(function () {
    //       ctx.lineTo(int, (data[start][2]*multiY)+2000);
    //       ctx.stroke();
    //       ctx.lineWidth = 15;
    //       start += dropDataPoints;
    //       int += dropDataPoints;
    //     }, ii*data[ii][0]); //CRAZY HOW ii WORKS HERE, SHOULDNT(ii)
    //   }
    // }
    // function forceZTimeX(data, start, stop, multiX, multiY, dropDataPoints) {
    //   for (var i=start, ii=0; i<stop; i=i + dropDataPoints, ii=ii+1) {
    //     setTimeout(function () {
    //       ctx.lineTo(int, (data[start][3]*multiY)+1500);
    //       ctx.stroke();
    //       ctx.lineWidth = 30;
    //       start += dropDataPoints;
    //       int += dropDataPoints;
    //     }, ii*data[ii][0]); //CRAZY HOW ii WORKS HERE, SHOULDNT(ii)
    //   }
    // }

    // data, start, stop, multiX, multiY, dropDataPoints
    // forceYTimeX(data5MileDown, 0000, 24979, 500, 1000, 10);
    forceXTimeX(data5MileUp, 10000, 25022, 1000, 1000, 1);
    // forceYTimeX(data5MileUp, 0000, 29022, 1000, 1000, 10);
    // forceZTimeX(data5MileUp, 20000, 22922, 500, 1000, 1);
    // forceYTimeX(dataAccelAndBrake, 0000, 4489, 500, 500, 1);
    // forceYTimeX(dataSpin3, 0000, 2800, 500, 500, 1);
    // forceYTimeX(data5MileUp, 0000, 20000, 1000, 1000, 20);
  });


    </script>
  </canvas>

  <hr>
  <div><a href="./index.html" class="home">Home</a></div>
  <hr>

</body>
