<!DOCTYPE html>
<html>
<head>
  <title>Data Plot</title>
  <script src="../app.js"></script>
  <script src="../data/initSpin1.js"></script>
  <script src="../data/initSpin2.js"></script>
  <script src="../data/initSpin3.js"></script>
  <script src="../data/initRunIndoor.js"></script>
  <script src="../data/initSwing.js"></script>
  <script src="../data/secAccelAndLeft.js"></script>
  <script src="../data/secAccelBrake.js"></script>
  <script src="../data/secCanyonDown.js"></script>
  <script src="../data/secCanyonUp.js"></script>
  <script src="../data/secFiveMileDown.js"></script>
  <script src="../data/secFiveMileUp.js"></script>
  <script src="../data/secToClass.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

  <div><a href="./forceXy.html">Force Xy</a></div>
  <div><a href="./forceXyTimeX.html">Force Xy Time X</a></div>
  <div><a href="./forceXyzTimeXyz.html">Force Xyz Time X(yz)</a></div>
  <div><a href="./forceXyzAdjustableTimeXyz.html">Force Xyz Adjustable Time Xyz</a></div>
  <div><a href="./data_plot.html">Data Plot</a></div>


</body>
