body{
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  /*background-image: url("../images/stripe.jpg");*/

}

.space {
  padding-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

a{
  font-size: 20px;
}

#red {
  text: red;
}

h1{
  text-align: center;
}

.home{
  position: fixed;
  top: 95%;
  left: 49%;
}

canvas {
  /*z-index: -1;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*width: 4000px;*/
  /*height:2500px;*/

  /*float: right;*/
  /*background: black;*/
  /*border: 1px solid black;*/
}

button{
  background: beige;
  potition: fixed;
}

.center{
  text-align: center;
}
