body{
  /*padding-left: 1%;*/
  padding-top: 1%;
  /*padding-right: 1%;*/
  padding-bottom: 1%;

}

a{
  font-size: 20px;
}

h1{
  text-align: center;
}

.home{
  position: fixed;
  top: 95%;
  left: 49%;
}

canvas {
  /*z-index: -1;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*width: 4000px;*/
  /*height:2500px;*/

  /*float: right;*/
  /*background: black;*/
  border: 1px solid black;
}

button{
  background: beige;
  potition: fixed; 
}
